<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ evento.get_nome() }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>{{ evento.get_nome() }}</h1>
        <h2>{{ evento.get_nome2() }}</h2>
        <h3>{{ evento.get_data() }}</h3>

        <h2>Descrição</h2>
        <h3>{{ evento.get_descrição() }}</h3>

        <h2>Local</h2>
        <h3>{{ evento.get_local() }}</h3>

        <h2>Palestrantes Confirmados</h2>
        <h3>{{ evento.get_palestrante1() }}</h3>  
        <a href="/{{ evento.get_link1() }}">Clique aqui</a>
        <h3>{{ evento.get_palestrante2() }}</h3>  
        <a href="/{{ evento.get_link2() }}">Clique aqui</a>

        <h2>Categoria</h2>
        <h3>{{ evento.get_categoria() }}</h3>
        <a href="/{{ evento.get_link3() }}">Clique aqui para ver mais categorias</a>

        <h3>Voltar para a tela inicial?</h3> <a href="{{url_for('home')}}">Clique aqui</a></h3>
    </div>
</body>
</html>